*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
header{
    background-color: blue;
    color: white;
    height: 40px;
    margin-bottom: 15px;
}
header h4{
    line-height: 40px;
    padding-left: 10px;
}
td {
    border:1px solid gray;
    padding:5px;
    width: 200px;
  }
table {
    color: gray;
    border-collapse:separate;
    border-spacing: 100px 10px;
    clear: left;
    margin-top: 50px; 
  }
.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
    float: left;
    margin-left: 150px;
}

section h1{
    margin-left: 600px;
    line-height: 150px;
    font-size: 50px;
    color: gray;
}
section{
    margin-top: 30px;
    height: 150px;
}
#titulos{
    border:1px solid white;
}
#apartado1{
    color: gray;
    width:500px;
    height:100px;
    border:1px solid gray;
    border-radius:70px;
    padding:9px;
    margin-top: 30px;
    text-align: center;
    margin: 0 auto;
    line-height: 100PX;
 }
 footer{
     margin-top: 20px;
     text-align: center;
 }
#taman{
    width: 25px;
    height: 25px;
} 